body{

	margin:0;
	font-size: 100%;
	font-family: "museo-slab", serif;
	height: 100%;
	background-color: white;
	
}

.container1 {
	display: block;
  position: relative;
  width: 100%;
  min-height: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  background-color: white;

}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
   }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

img{
   width: 100%;
}


.container2{
	/*display: block;
  position: relative;*/
  width: 100%;
padding-left: 145px;
padding-top: 10px;
  margin: 0 auto;
  box-sizing: border-box; 
	background-color: #AB3F43;
}

.selfie{
	width: 56.6666666667%; 
	margin-bottom: 3%;
}


#ego{
	top:25%;
	left:10%;
	padding-left: 25%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	float:none;
}

#clips{
	padding-top: 50px;
	padding-left: 4%;
	left:10%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	color: white;
	float:none;
}
}

p{
	font-family: "museo-slab", serif;

}

span{
	font-family: "museo-slab", serif;

}

.intro{
	font-family: "museo-slab", serif;
	color: black;
	
}

.clips{
	color:white;
	line-height: 130%;
}
mark{
	background-color: transparent;
	color: #AB3F43;
}
.menu{
	font-family: "droid-sans-mono", sans-serif;
	font-size:14px;
	padding-left: 25%;

}
a{
	color: black;
  text-decoration: none;
}


::selection {
  background-color: #1D2624;
}

#box    {  width:90%;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:url(http://mpnyka.github.io/mireia.jpg);
  background-size:cover;
border-radius:5px;
overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:left;
               padding:45px;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}