body{

	margin:0px;
	font-size: 100%;
	font-family: "museo-slab", serif;
	width:100%;
	background-color: white;
	
}

.container1 {
	display: block;
  position: relative;
  width: 100%;
  min-height: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  background-color: white;

}

.container1 .flex-container {
  display: flex !important;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap
}



.left-column {
  flex: 2; /* Adjust to 0.5 if you want it smaller */
  min-width: 200px;

}

.right-column {
  flex: 5; /* Takes up most of the space */
  min-width: 200px; /* Prevent overflow */

}

/* Small screens (phones) */
@media (max-width: 549px) {
  .flex-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    width: 100%;
  }
}


//* Larger screens (tablets and up) */
@media (min-width: 550px) {
  .flex-container {
    flex-direction: row;
  }

  .left-column {
    flex: 1;
  }

  .right-column {
    flex: 3;
  }
}

img{
   width: 70%;
}


.selfie{
	width: 56.6666666667%; 
	margin-bottom: 3%;
}

#ego{
	top:25%;
	padding-left: 5%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	float:none;
}

#clips{
	padding-top: 50px;
	padding-left: 4%;
	left:10%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	color: white;
	float:none;
}
}

p{
	font-family: "museo-slab", serif;

}

span{
	font-family: "museo-slab", serif;

}

.intro{
	font-family: "museo-slab", serif;
	color: black;
	padding-top: 5%;
	padding-bottom: 15%;
	
}

.clips{
	color:white;
	line-height: 130%;
}
mark{
	background-color: transparent;
	color: #AB3F43;
}
.menu{
	font-family: "droid-sans-mono", sans-serif;
	font-size:14px;
	padding-left: 10%;

}
a{
	color: black;
  text-decoration: none;
}
a:hover   {color:#D9C8C8;
}


::selection {
	background-color: #1D2624;
	color:white;
}

#box    {  width:90%;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:url(http://mpnyka.github.io/mireia.jpg);
  background-size:cover;
border-radius:5px;
overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:left;
               padding:45px;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}


 /*Resume*/
.cv-head{ 
	padding:40px;

}
 .cv-name{
 	
 }
