body{
	/*border:20px solid #534753 !important;*/
	margin:0;
	background-color: 
	

}

#ego{
	position:fixed;
	top:25%;
	left:10%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
}

#hello{
	position:fixed;
	left:40%;
	right:30%;
	top:30%;
	padding:10px;
	font-family: "museo-slab", serif;

}
mark{
	background-color: transparent;
	color: #D11255;
}
.menu{
	font-family: "droid-sans-mono", sans-serif;
	font-size:14px;
	left: 10%;
  	position: fixed;
  	top: 35%;

}