body{
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 93.75%;
  line-height: 1.66667;
  background-color: #fff;
  color: #4c4e4d;
  width: 960px;
  margin:50px auto;
  overflow-x: hidden;

}
h1{
  position: relative;
	font-family: Balto,sans-serif;
  letter-spacing: -0.05em;
  font-weight: 700;
  font-size: 54px;
  text-align: left;
  margin-left: 90px;
  line-height: 1;
  color: white;
  margin-bottom:5px;
  z-index: 4;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
}

h2{position: relative;
  font-family: Balto,sans-serif;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  margin-left: 96px;
  color: rgba(255,255,255,0.8);
  margin-top: 10px;
  z-index: 4;
    text-shadow: 0 0 3px rgba(0,0,0,0.25);

}
::selection {
  background-color: #fff200;
}
.graph{
  font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 10px;
  color: #4c4e4d;
  width:100%;
  align:center;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 30px;
  padding-bottom: 30px;
}
#graph1{
  font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 10px;
  color: #4c4e4d;
  align:center;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

#graph2{
  font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 30px;
  color: #4c4e4d;
   border-top: 1px solid #e2e2e2;
   border-bottom: 1px solid #e2e2e2;
}

#graph3{
  font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 10px;
  color: #4c4e4d;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

#graph4{
  font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  color: #4c4e4d;

}

#graph5{
   font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  color: #4c4e4d;

}

#graph6{
    font: 11px arial,helvetica,sans-serif;
  line-height: 1.5;
  position: relative;
  color: #4c4e4d;

}

.post{
  position: relative;
  width:640px;
  padding-left: 120px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

section { 
    display: block;
    box-sizing: border-box;
    clear:both;
    padding-top: 80px;
    padding-bottom: 140px;
  margin-bottom: 30px;
}
a:link{
	  color: #6d98a8;
  text-decoration: none;
}

.section-backgroundImage {
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  background-position: 50% 50%;
  background-image: url("ukip.jpg");
  height: 700px;
}

.picture{
	  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  width:100%;
}


.byline{
  position:relative;
	font-family: Harriet,serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 7.5px;
  margin-bottom: 15px;
  z-index: 3
}

.credit{
  position:relative;
  font-family: Harriet,serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 7.5px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 3;
  padding-top: 18px;
  border-top: 1px solid #e2e2e2;
}
.social{
  position:relative;
  font-family: Harriet,serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 7.5px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 3;
  padding-top: 18px;
}
.caption {
	  color: #979797;
  font-size: .8em;
  padding: 1em 5px .75em;
  border-bottom: solid 1px #d9d6d7;
  display: table;
  width: 100%;
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;

  }
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.x.axis path {
  display:none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.city circle {
  fill: none;
  stroke: steelblue;
}

.source {
  font-family: Alright Sans,sans-serif;
  font-size: 10px;
  color: #999;
    
}
.graph-title {
  font-family: arial,helvetica,sans-serif;
  font-size: 18px;
  /*font-weight: bold;*/
  letter-spacing: -0.9px;
  color: #000;
  position: relative;
  left: 15px;
}

.graph-title2 {
  font-family: arial,helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.9px;
  color: #C5C4C5;
  position: relative;
  left: 15px;
}


/*second graph*/


.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .marker2 { stroke: #b6b0b6; stroke-width: 2px; }
.bullet .tick line { stroke: #ab83ab; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #cdccce; }
.bullet .range.s2 { fill: #cdccce; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: #634163; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

  /*Legend*/

  .key {
  position:relative;
  left:600px;
  width: 50%;
  font-size: 0;
    color: #000000;
    font: 9pt Arial, sans-serif;
    margin-left: 0px;
    margin-top: -25px;
    top:-66px;
    left:769px;


  }
  .key-source {
  position:relative;
  left:600px;
  width: 50%;
  font-size: 0;
    color: #000000;
    font: 9pt Arial, sans-serif;
    margin-left: 211px;
    margin-top: -25px;
}
.key-item {
  font-family: Arial, sans-serif;
  font-weight: 200;
  margin-right: 100px;
  display: inline-block;
  padding: 10px;
}
.age-key-box {
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  margin-right: 6px;
}
.black-age-key-box {
  background-color: #cdccce;
}
.white-age-key-box {
  background-color: #634163;
}


.key-arrow1 {
  left:600px;
  width: 50%;
  font-size: 0;
    color: #b6b0b6;
    font: 9pt Arial, sans-serif;
    margin-left: 0px;
    margin-top: -25px;
    padding-left:298px;
  }
  .key-arrow2 {
  left:600px;
  width: 50%;
  font-size: 0;
    color: #000;
    font: 9pt Arial, sans-serif;
    margin-left: 0px;
    margin-top: -25px;
    padding-left:541px;
  }

  #share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;

}
