body{

	margin:0;
	font-size: 100%;
	font-family: "droid-sans-mono", sans-serif;
	
}

.container1 {
	display: block;
  position: relative;
  width: 100%;
  max-width: 960px;
  min-height: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  background-color: white;
}
.container1 .flex-container {
  display: flex !important;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap
}

.left-column {
  flex: 0.5; /* Adjust to 0.5 if you want it smaller */
  min-width: 200px;
  border: 1px solid red;

}

.right-column {
  flex: 3; /* Takes up most of the space */
  min-width: 200px; /* Prevent overflow */
  border: 1px solid blue;

}
/*.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
   }*/

/* Small screens (phones) */
@media (max-width: 549px) {
  .flex-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    width: 100%;
  }
}


//* Larger screens (tablets and up) */
@media (min-width: 550px) {
  .flex-container {
    flex-direction: row;
  }

  .left-column {
    flex: 1;
  }

  .right-column {
    flex: 3;
  }
}


img{
   width: 170%;
}


#selfie{
	width: 56.6666666667%; 
	margin-bottom: 3%;
}


#ego{
	top:25%;
	left:10%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	float:none;
}

#clips{
	padding-top: 50px;
	left:10%;
	font-family: "droid-sans-mono", sans-serif;
	letter-spacing: -1px;
	font-size: 20px;
	color: white;
	float:none;
}

p{
	font-family: "museo-slab", serif;
	font-size: 14px;
}

span{
	font-family: "museo-slab", serif;

}

.intro{
	font-family: "museo-slab", serif;
	font-size: 14px;
}

.clips{
	color:white;
	line-height: 130%;
}
mark{
	background-color: transparent;
	color: #AB3F43;
}
.menu{
	font-family: "droid-sans-mono", sans-serif;
	font-size:14px;

}
a{
	color: black;
  text-decoration: none;
}


::selection {
  background-color: #1D2624;
}